<div class="col-md-12 row">
  <button class="btn btn-primary" (click)="goBack()">Quay lại</button>
</div>
<div class="row">
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <form class="form-horizontal form-label-left input_mask" novalidate #addEditForm="ngForm" (ngSubmit)="saveChanges(addEditForm)"
          *ngIf="entity">
          <div class="form-group row">
            <label class="control-label col-md-2 col-sm-2 col-xs-12">Tên khách hàng</label>
            <div class="col-md-10 col-sm-10 col-xs-12">
              <input disabled type="hidden" [(ngModel)]="entity.Id" name="id" />
              <input disabled type="text" #customerName="ngModel" [(ngModel)]="entity.CustomerName" required minlength="3"
                name="customerName" class="form-control">
              <small [hidden]="customerName.valid || (customerName.pristine && !addEditForm.submitted)" class="text-danger">
                Bạn phải nhập sản phẩm
              </small>
            </div>
          </div>
          <div class="form-group row">
            <label class="control-label col-md-2 col-sm-2 col-xs-12">Id khách hàng</label>
            <div class="col-md-10 col-sm-10 col-xs-12">
              <input disabled type="text" #customerId="ngModel" [(ngModel)]="entity.CustomerId" name="customerId" class="form-control">
            </div>
          </div>
          <div class="form-group row">
            <label class="control-label col-md-2 col-sm-2 col-xs-12">Địa chỉ </label>
            <div class="col-md-10 col-sm-10 col-xs-12">
              <textarea disabled class="form-control" #customerAddress="ngModel" [(ngModel)]="entity.CustomerAddress"
                name="customerAddress" rows="2"></textarea>
            </div>
          </div>
          <div class="form-group row">
            <label class="control-label col-md-2 col-sm-2 col-xs-12">Email</label>
            <div class="col-md-10 col-sm-10 col-xs-12">
              <input disabled type="text" #customerEmail="ngModel" [(ngModel)]="entity.CustomerEmail" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                required name="customerEmail" class="form-control">
              <small [hidden]="customerEmail.valid || (customerEmail.pristine && !addEditForm.submitted)" class="text-danger">
                Bạn phải nhập email
              </small>
            </div>
          </div>
          <div class="form-group row">
            <label class="control-label col-md-2 col-sm-2 col-xs-12">Số điện thoại</label>
            <div class="col-md-10 col-sm-10 col-xs-12">
              <input disabled type="text" #customerMobile="ngModel" [(ngModel)]="entity.CustomerMobile" required name="customerMobile"
                class="form-control">
              <small [hidden]="customerMobile.valid || (customerMobile.pristine && !addEditForm.submitted)" class="text-danger">
                Bạn phải nhập số điện thoại
              </small>
            </div>
          </div>
          <div class="form-group row">
            <label class="control-label col-md-2 col-sm-2 col-xs-12">Ghi chú khách hàng </label>
            <div class="col-md-10 col-sm-10 col-xs-12">
              <textarea disabled class="form-control" #customerMessage="ngModel" [(ngModel)]="entity.CustomerMessage"
                name="customerMessage" rows="3"></textarea>
            </div>
          </div>
          <div class="form-group row">
            <label class="control-label col-md-2 col-sm-2 col-xs-12">Phương thức thanh toán</label>
            <div class="col-md-10 col-sm-10 col-xs-12">
              <select disabled class="form-control" #paymentMethod="ngModel" name="paymentMethod" [(ngModel)]="entity.PaymentMethod">
                <option value="0"> CashOnDelivery</option>
                <option value="1">OnlinBanking</option>
                <option value="2"> PaymentGateway</option>
                <option value="3">Visa</option>
                <option value="4">MasterCard</option>
                <option value="5">PayPal</option>
                <option value="6">Atm</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="control-label col-md-2 col-sm-2 col-xs-12">Trạng thái thanh toán</label>
            <div class="col-md-10 col-sm-10 col-xs-12 ">
              <select disabled class="form-control" #billStatus="ngModel" name="billStatus" [(ngModel)]="entity.BillStatus">
                <option value="0">Mới</option>
                <option value="1">Đang giao</option>
                <option value="2">Trả về</option>
                <option value="3">Hủy</option>
                <option value="4">Thành công</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="control-label col-md-2 col-sm-2 col-xs-12">Trạng thái</label>
            <div class="col-md-10 col-sm-10 col-xs-12">
              <div class="checkbox">
                <label>
                  <input disabled type="checkbox" [(ngModel)]="entity.Status" name="status" #status="ngModel"> Hợp lệ
                </label>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table" *ngIf="orderDetails && orderDetails.length > 0">
              <thead>
                <tr>
                  <th>Hình ảnh</th>
                  <th>Sản phẩm</th>
                  <th>ID sản phẩm</th>
                  <th>Màu sắc</th>
                  <th>Kích thước</th>
                  <th>Số lượng </th>
                  <th>Giá</th>
                  <th>Thành tiền</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of orderDetails">
                  <td>
                    <img width="64" src="{{baseFolder+item.Product.ThumbnailImage}}">
                  </td>
                  <td>{{item.Product.Name}}</td>
                  <td>{{item.Product.Id}}</td>
                  <td>{{item.Color.Name}}</td>
                  <td>{{item.Size.Name}}</td>
                  <td>{{item.Quantity | number}}</td>
                  <td>{{item.Price | number}},000</td>
                  <td>{{item.Price * item.Quantity | number}},000</td>
                </tr>
                <tr>                 
                  <td colspan="8">
                    Tổng tiền: {{entity.TotalMoneyOrder| number}},000 VND
                  </td>
                </tr>
                <tr>
                  <td colspan="8">
                    Tổng tiền cần thanh toán: {{entity.TotalMoneyPayment | number}},000 VND
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="ln_solid"></div>
        </form>
      </div>
    </div>
  </div>
</div>