<div class="col-md-12 row">
  <div class="col-md-9 form-group">
    <h3>Nội dung bài viết
    </h3>
  </div> 
</div>
<div class="row">
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">   
      <div class="card-body">
        <app-simple-tiny [elementId]="'my-editor-id'" [content]="this.entity.Content" (onEditorKeyup)="keyupHandlerContentFunction($event)">
        </app-simple-tiny>          
      </div>
      <div class="form-group row mlf-30">
        <button class="btn btn-danger btn-fw mr-2" (click)="goBack()">Quay lại</button>  
        <button class="btn btn-success btn-fw mr-2" (click)="updateContent()">Cập nhật</button>     
        <button  class="btn btn-primary mr-2"(click)="showImageManage()">Quản lý ảnh</button> 
        <div class="mt-20">
          <label class="mr-2">
            <input type="checkbox" [(ngModel)]="entity.Status" [name]="Status" name="status" [ngModelOptions]="{standalone: true}"><strong> ĐĂNG BÀI VIẾT </strong>
          </label>
          <label class="mr-2">
            <input type="checkbox" [(ngModel)]="entity.HomeFlag" [name]="HomeFlag" name="homeFlag" [ngModelOptions]="{standalone: true}"><strong> HIỆN THỊ TRANG CHỦ</strong>
          </label>
          <label>
            <input type="checkbox" [(ngModel)]="entity.HotFlag" [name]="HotFlag" name="hotFlag" [ngModelOptions]="{standalone: true}"><strong> BÀI VIẾT NỔI BẬT</strong>
          </label>
        </div>
      </div>
      <div >
       
      </div>
    </div>
  </div>
</div>